.active-type .icon-indicator,
.active-type .underline-indicator {
  opacity: 0.5 !important;
}

body > [id^="dmermaid"], 
body > [id^="mermaid-"] {
  inset: 0 !important;
  position: absolute !important;
}